body{
    background-color: teal;
}
h1{
    color:teal;
    text-align: center;
    margin: 200px;
    background-color:dodgerblue;
    padding: 120px;
    border: solid 10px blue ;
    box-shadow: 20px 20px 20px 20px rgba(200, 250, 200, 0.6);


}

.div1{

    justify-content: center;
    margin: 400px;
    
}